{% extends 'base.html' %}
{% block title %}{{ note.title }}{% endblock %}
{% block content %}
<div class="container" style="max-width: 700px;">
    <h1 class="title">{{ note.title }}</h1>
    <p class="mb-4"><em>Created at: {{ note.created_at|date:"Y-m-d H:i" }}</em></p>
    <div class="content" style="white-space: pre-line;">{{ note.content }}</div>
    <div class="mt-4 buttons">
        <a href="{% url 'note_edit' note.pk %}" class="button is-info is-light">Edit</a>
        <a href="{% url 'note_delete' note.pk %}" class="button is-danger is-light">Delete</a>
        <a href="{% url 'note_list' %}" class="button">Back to list</a>
    </div>
</div>
{% endblock %}
